.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!terraform.tfvars.example
!*.tfvars.json.example
*.tfplan
*.tfplan.*
tfplan
tfplan.*
.terraform.tfstate.lock.info
.env
.env.*
!.env.example
!.env.*.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
